.hero{
    height: 600px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url(/assets/port-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1{
    font-size: 60px;
    margin: 0px;
}

.pageTitle {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    margin-top: 150px;
    color: white;
}

.hello {
    font-size: 70px;
    margin: 0;
}

.name {
    font-weight: bold;
    font-size: 90px;
    margin: 0;
}

.job {
    font-size: 30px;
    margin: 0;
}

@media (max-width: 1300px) {
    .pageTitle {
        margin-left: 0px;
    }

    .hero {
        background-position: 20%;
    }
        
}

@media (max-width: 650px) {
    .pageTitle {
        display: flex;
        flex-direction: column;
        margin-top: 430px;
    }

    .hello  {
        font-size: 40px;
    }

    .name  {
        font-size: 60px;
    }
}

@media (max-width: 471px) {
    .pageTitle {
        margin-top: 370px;
    }
}