.nav-tabs {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 565px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.nav-item {
    font-size: 30px;
    margin: 20px;
    display: inline;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 1300px) {
    .nav-tabs {
        margin-left: 0px;
    }
}

@media (max-width: 1160px) {
    .nav-tabs {
        margin-left: 0px;
    }
}

@media (max-width: 650px) {
    .skills  {
        flex-wrap: wrap;
    }
    .nav-tabs {
        flex-wrap: wrap;
    }
}

